{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "vueIndentScriptAndStyle": true,
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120,
        "embeddedLanguageFormatting": "auto",
        "semi": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.{js,ts}",
      "options": {
        "printWidth": 100,
        "semi": true,
        "trailingComma": "es5"
      }
    }
  ]
}